<h3>Libros Agregados a la lista </h3>
<div  *ngFor="let item of listaLibros; let i = index">
    <p>  Identificador: {{item.id}} Nombre:  {{item.nombre}}</p>
    <ul>
        <li> Editorial: {{item.editorial}} </li>
        <li>Numero de paginas: {{item.numeroPaginas}}</li>
        <li>Precio: {{item.precio}} USD</li>
        <li>Autores: {{item.autores}}</li>
        <li>Color: {{item.aColor?"A color":"A blanco y negro"}} </li>
        <li>fecha de venta: {{item.fechaVenta | date:'medium'}}</li>
        <li>Estado: {{item.estado}} </li> 
    </ul>   
 </div>
 <br>
 
 <button type="button" class="btn btn-danger" (click)="deletePosition(3)">Eliminar Posicion </button>
 <button type="button" class="btn btn-success"(click)="clear()">Limpiar</button>
 <div *ngIf=flag>Se elimino el cómic : {{deleteName}} </div>
 <div *ngIf=error>Se genera una falla por : {{msgError}}</div>
